<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>GoBootstrap - Task Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous" />

    <style>
        .card {
            box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
            transition: 0.3s;
        }

        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        }
    </style>

    <!-- Fontawesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" />
</head>

<body>
    <div class="container mt-5 shadow-lg p-3 mb-5 bg-white rounded ">
        <h3>Edit To Do List</h3>
        <a href="/task" class="btn btn-primary btn-sm"><i class="fa-solid fa-circle-info"></i> View Task</a>

        {{ if .Message }}
        <div class="alert alert-success alert-dismissible fade show mt-2" role="alert">
            {{ .Message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {{ end }}
        <!-- <hr /> -->
        <div class="card mt-2">
            <div class="card-body">
                <form action="/tasks/edit" method="post">
                    <div class="row">
                        <div class="col">
                            <label for="TaskDetail" class="form-label">Detail Task</label>
                            <input type="text" class="form-control {{ if .validation.TaskDetail }} is-invalid {{ end }}" value="{{ .task.TaskDetail }}" name="TaskDetail" id="TaskDetail"
                                placeholder="Detail Task" aria-label="TaskDetail" autofocus>
                                <div class="invalid-feedback">
                                    {{ .validation.TaskDetail }}
                                </div>


                            <label for="Deadline" class="form-label mt-3">Deadline</label>
                            <input type="date" class="form-control {{ if .validation.Deadline }} is-invalid {{ end }}" value="{{ .task.Deadline }}" name="Deadline" id="Deadline">
                            <div class="invalid-feedback">
                                {{ .validation.Deadline }}
                            </div>
                        </div>
                        <div class="col">
                            <label for="Assigment" class="form-label">Assigment</label>
                            <input type="text" class="form-control {{ if .validation.Assigment }} is-invalid {{ end }}" value="{{ .task.Assigment }}" name="Assigment" placeholder="Assigment"
                                aria-label="Assigment">
                                <div class="invalid-feedback">
                                    {{ .validation.Assigment }}
                                </div>

                            <label for="Status" class="form-label mt-3">Status</label>
                            <select class="form-select {{ if .validation.Status }} is-invalid {{ end }}" name="Status" aria-label="Default select example">
                                <option selected value="1">Open this select menu Status task</option>
                                <option {{ if eq .task.Status `1` }} selected {{ end }} value="1">On Progress</option>
                                <option {{ if eq .task.Status `2` }} selected {{ end }} value="2">Not Finished</option>
                                <option {{ if eq .task.Status `3` }} selected {{ end }} value="3">Done</option>
                            </select>
                            <div class="invalid-feedback">
                                {{ .validation.Status }}
                            </div>

                        </div>
                    </div>
                    <div class="d-grid gap-2">
                        <input type="hidden" name="id" value="{{ .task.Id }}">
                        <button class="btn btn-primary mt-3" type="submit">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</body>

</html>